.wrapper2 {
  padding: 3em 10em;
}

.wrapperJodasComponent {


.btn_section {
  background-color: #606060;
  border-radius: 50px;
}
.right_side2 {
  display: flex;
  gap: 7%;
}
.about_header {
display: flex;
justify-content: center;
align-items: center;


.popual_game_title {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;

}
}
.right_side2 {
  display: flex;
justify-content: center;
align-items: center;

.Ps-class1 {
  width: 20%;
}
.Ps-class2 {
  width: 20%;
}

.Ps-class3 {
  width: 15%;
}

.Ps-class4 {
  width: 30%;
}
}
.Ul-Photo-Category {
  display: block;
}

.wrapper-photo {
  padding-left: 16em;
}

.wrapper-photo > span > img {
  cursor: pointer;
}
}