.wrapper_setings {
    padding: 1em 0em;
}

.wrapper_setings {
    .settings_block {
        padding-bottom: 10px;
        display: flex;
    .setings {
        font-size: 14px;
        font-weight: 600;
    }
    }
    .Update_block {
        padding-bottom: 10px;
        display: flex;
    .Update{
        font-size: 14px;
        font-weight: 600;
    }
    }
    .Update_Download {
        padding-bottom: 10px;  
        display: flex;
        .Download{
            font-size: 14px;
        font-weight: 600;
    }
    }

.settings_icon {
    padding-right: 0.7em;
}

}

