.wrapper_div_main_Section {
    display: flex;
    justify-content: center;
}

.wrapper_div_Instruction_Section_Text {
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}