.shop-header {font-size: 40px;
font-weight: 800;}
.P-header-span {font-size: 34px;
line-height: 54px;}
.P-header {line-height: 40px;
font-size: 31;}
strong {
    font-weight: 900;
}
.Sub-Section {
    margin-bottom: 120px;
    max-width: 1000px;
}
.Header_Section {
    margin-bottom: 2em;
}

.shop-header-future {
    text-transform: uppercase;
    font-size: 25px;
font-weight: 800;
display: block;
padding-bottom: 10px;
}
.wrapper-text {
    display: grid;

}

.P-section-future-span {
    line-height: 15px;
    font-size:20px;
font-weight: 500;}

.Future {
    padding-bottom: 5em;
    max-width: 700px;
}
.P-header-future {
    line-height: 30px;
    font-size:20px;
    font-weight: 500;
}
.Future-Text {
    color: #fcaf17 ;
}


.wrapper-Li {
    padding-bottom: 120px;
    justify-content: space-between;
    display: flex;
}
.PosterPhoto {
    width: 70%;
}